안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [ ]:
x, n = 2, 5
print(list(range(x, x*(n+1), x)))


# print([i * x for i in range(1, n + 1)])
# i * x(표현식), 전체의미 : 1부터 n+1(n=5라서 5개의 출력을 위해서 +1)까지 길이에서 i에담아 반복, x씩 증가를 위해 i*x

# for i in range(1, n + 1):
#     list_arr.append(i * x)
# 위의 리스트컴프리헨션을 풀어쓴것

[2, 4, 6, 8, 10]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [ ]:
phone_number = "01012347890"
print(phone_number.replace(phone_number[-4:], "*" * len(phone_number[-4:])))
#replace(바꿀 문자열, 새로바뀔 문자열), 전체의미: phone_number에서 phone_number[-4:](뒤에서 4번째자리까지)를 "*"(*이걸로)바꾼다.

print(phone_number[:-4], end="") # phone_number에서 뒤에서 4글자를 제외하고 출력
for i in range(4):  # *를 4개 출력하기 위해 반복문 사용
    print("*", end="")
print()

# new_number = phone_number[:-4] + "****"

new_number = phone_number[:-4].ljust(len(phone_number), '*') # .ljust = 해당문자열을 왼쪽으로 정렬 및 지정한 너비만큼 다른문자로 채워주는 매서드
print(new_number)                                            # 0101234를 왼쪽으로 밀고 지정한 전체 너비에서 남는자리를 *로 채운다.

0101234****
0101234****
0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [105]:
codes = {
    0:'zero',
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
    6:'six',
    7:'seven',
    8:'eight',
    9:'nine'
}
# print(codes.keys())  # dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
# print(codes.values())  # dict_values(['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'])
# new_s.replace(tmp, str(list(codes.keys())[list(codes.values()).index(tmp)]))

s = "77three4one"
# s = "one4seveneight"
# s = "23four5six7"
# s = "1zerotwozero3"

## s position
## implement replace()
tmp = ""
new_s = ""  # to prevent @IndexError: string index out of range
for i in range(len(s)):
    if s[i].isdigit():  # 774
        new_s += s[i]
        continue

    tmp += s[i]
    # print(tmp)
    if tmp in codes.values():  # threeone
        new_s += str(list(codes.keys())[list(codes.values()).index(tmp)])  # @TypeError: 'str' object does not support item assignment
        tmp = ""

print(new_s)



## codes position
# for key, value in codes.items():
#     s = s.replace(value, str(key))

# print(int(s))

77341

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다.

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [ ]:
arr1 = [[1,2],[2,3]] # 2행2열의 리스트
arr2 = [[3,4],[5,6]]

result = [] # 값을 저장하기 위한 빈 리스트
for i in range(len(arr1)): # 리스트 개수의 길이만큼 반복 / 2행 2열 이기에 2행을 표현하기 위한 반복문?
    tmp = [] # 밑의 계산 결과를 담는 임시 리스트
    for j in range(len(arr1[i])): # arr1 리스트의 [i]인덱스 안의 갯수 길이만큼 반복 / 2열을 표현하기 위한 반복문?
        tmp.append(arr1[i][j] + arr2[i][j]) # 리스트들의 같은위치의 행렬을 더한값을 tep=[]에 추가
    result.append(tmp) # tep에 저장된 값들을 result에 추가

# 간단하게 리스트컴프리헨션으로 표현
result = [[arr1[i][j] + arr2[i][j] for j in range(len(arr1[i]))] for i in range(len(arr1))]


""" result = [[c1 + c2 for c1, c2 in zip(r1, r2)] for r1, r2 in zip(arr1, arr2)] """

print(result)

[[4, 6], [7, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [ ]:
x = 17 # x변수 지정
xsum = 0 # 초기값 설정
for i in range(len(str(x))): # x문자열의 길이만큼 반복
    xsum += int(str(x)[i]) # x문자열을 [i]인덱싱하여 정수로 바꾸고 더한다.
if x % xsum == 0: # x가 더한값으로 나누어떨어지면 true출력
    print("true")
else: # 아니면 false출력
    print("false")


num_list = list(map(int, str(x))) # x를 문자열로 바꾸고 정수화하여 문자 하나하나로 나누고 리스트화
result = x % sum(num_list) == 0 # 비교연산자 사용으로 bool로 표현, x가 sum_list 각 자리의 합으로 나누어떨어지면 True
print(result)

false
False

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [ ]:
seoul = ["Jane", "Kim"]

print(f"김서방은 {seoul.index('Kim')}에 있다") # .index로 'kim'이 있는 인덱스 표현


# for i in range(len(seoul)): 
#     if seoul[i] == "Kim":
#         print(f"김서방은 {i}에 있다")

김서방은 1에 있다

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [25]:
# del sum

numbers = [5,8,1,0,6,9]

zerotonine = "0123456789"
for i in range(len(numbers)):
    zerotonine = zerotonine.replace(str(numbers[i]), "") # numbers 리시트의 각 인덱스를 문자열로 바꾸고 zerotonine에 있는문자면 없앤다?

print(sum(list(map(int, list(zerotonine))))) # zerotonine에 남아있는 문자들을 정수로 하나하나로 표현하고 리스트로 만들어 각값을 더해서 출력


full_set = set(range(10)) #{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
numbers_set = set(numbers) #numbers에 있는 숫자들의 집합 {5, 8, 1, 0, 6, 9}
missing_numbers = full_set - numbers_set # 차집합 : numbers에 없는 숫자들
result = sum(missing_numbers) # 없는 숫자들의 합
print(result)

# 리스트 컴프리헨션으로 표현
result = sum([i for i in range(10) if i not in set(numbers)])
print(result)
'''
result = []
for i in range(10):
    if i not in set(numbers):
        result.append(i)
print(sum(result))
'''

# 셋 컴프리헨션으로 표횬
result = sum({i for i in range(10) if i not in numbers})
print(result)

16
16
16
16